mat-label {
  font-weight: bolder;
}

mat-card-title {
  text-align: center;
}

.container {
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 2px 10px 13px -7px #000000;
  border-radius: 2%;
}

input,
select {
  margin: 5px;
  margin-top: 10px;
}
 .alert-danger{
  margin-left: 5px;
  margin-top: 10px;
}
.center{
  margin-left: 15px;
}
