.container {
  position:absolute;
  top: 0;
  left: 15%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}
.box{
  box-shadow: 2px 10px 13px -7px #000000;
}

mat-card-header{
  display: flex;
  justify-content: center;
}
mat-card{
  padding: 30px 50px;
  border-radius: 15px;
}

button{
  width: 100%;
}
mat-card-content{
  display: flex;
}
.form{
  width: 350px;
  display: flex;
  align-items: center;
}
form{
  width: 100%;
}
.lot{
  margin-right: 30px;
}
mat-card-header{
  font-size: 28px !important;

}
.spanB{
  text-decoration: underline;
  color: #3f50b5;
  cursor: pointer;
}
