<div class="container-home">
  <h1>Gestione Clienti e Fatture </h1>
  <div class="head">

<mat-card class="example-card">
  <mat-card-header> </mat-card-header>
  <mat-card-content>
    <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_bo8vqwyw.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
    <p>Lista Utenti</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/users']">
      Vai
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header> </mat-card-header>
  <mat-card-content>
    <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_8pturyty.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
    <p>Clienti</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/clienti']">
      Vai
    </button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header> </mat-card-header>
  <mat-card-content>
    <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_myryne1p/lottie_step1/data.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
    <p>Fatture</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/fatture']">
      Vai
    </button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header> </mat-card-header>
  <mat-card-content>
    <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_hgdis2eb.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
    <p>Province</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/province']">
      Vai
    </button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header> </mat-card-header>
  <mat-card-content>
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_5eofrmfd.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
    <p>Comuni</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/comuni']">
      Vai
    </button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header> </mat-card-header>
  <mat-card-content>
    <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_wd1udlcz.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;"  loop  autoplay></lottie-player>
    <p>Registra un nuovo utente</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/signup']">
      Vai
    </button>
  </mat-card-actions>
</mat-card>
</div>
</div>


